<div class="page-header">
  <h1>{{ data.string }}</h1>
</div>

<div *ngIf="latestBooks && latestBooks.length == 0">
  <p class="lead">No textbooks required!</p>
</div>

<div *ngFor="let book of latestBooks">
  <h3>{{ book.name }}</h3>
  
  <div class="alert alert-danger" [hidden]="!book.rate_error">
    <strong>{{ book.rate_error }}</strong>
  </div>
  
  <table class="table table-no-border table-middle">
    <colgroup>
      <col class="col-xs-1">
      <col class="col-xs-7">
    </colgroup>
    <tr>
      <th>Usefulness</th>
      <td class="">
        <div class="row">
          <div class="hidden-xs col-sm-3 col-lg-3 vcenter">
            <div class="progress no-margin-bottom">
              <div class="progress-bar progress-bar-success" role="progressbar" [style.width]="getExactPercent(book) + '%'"></div>
              <div class="progress-bar progress-bar-danger" role="progressbar" [style.width]="getExactPercentFail(book) + '%'"></div>
            </div>
          </div>
          <div class="hidden-xs col-sm-3 col-lg-2 vcenter" *ngIf="hasRatings(book)">
            {{ getPercent(book) + '% found it useful' }}
          </div>
          <div class="col-xs-4 hidden-sm hidden-md hidden-lg hidden-xl vcenter" *ngIf="hasRatings(book)">
            {{ getPercent(book) + '%' }}
          </div>
          <div class="hidden-xs col-sm-2 col-lg-1 vcenter">
            {{ book.usefulness.up + book.usefulness.down + ' ratings' }}
          </div>
          <div class="hidden-xs hidden-sm hidden-md col-sm-3 col-lg-3 vcenter">
            Did you find this textbook useful?
          </div>
          <div class="col-sm-2 vcenter">
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-default" [class.btn-success]="book.user_rating == 'up'" [class.active]="book.user_rating == 'up'" (click)="toggleUp(book)">
                <span class="glyphicon glyphicon-thumbs-up"></span>
              </button>
              <button type="button" class="btn btn-default" [class.btn-danger]="book.user_rating == 'down'" [class.active]="book.user_rating == 'down'" (click)="toggleDown(book)">
                <span class="glyphicon glyphicon-thumbs-down"></span>
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>Author</th>
      <td>{{ book.author }}</td>
    </tr>
    <tr>
      <th>SKU</th>
      <td>{{ book.sku }}</td>
    </tr>
    <tr>
      <th>Price for new</th>
      <td>{{ book.new_price }}</td>
    </tr>
    <tr *ngIf="book.used_price != '$None'">
      <th>Price for used</th>
      <td>{{ book.used_price }}</td>
    </tr>
  </table>
  
</div>