<div class="page-header">
  <h1>{{ data.string }}</h1>
</div>

<div *ngFor="let book of latestBooks">
  <h3>{{ book.title }}</h3>
  
  <table class="table table-no-border table-middle">
    <colgroup>
      <col class="col-xs-1">
      <col class="col-xs-7">
    </colgroup>
    <tr>
      <th>Usefulness</th>
      <td class="">
        <div class="row">
          <div class="col-xs-3 vcenter">
            <div class="progress no-margin-bottom">
              <div class="progress-bar progress-bar-success" role="progressbar" [style.width]="getExactPercent(book) + '%'"></div>
            </div>
          </div>
          <div class="col-xs-2 vcenter">
            {{ getPercent(book) + '% found it useful' }}
          </div>
          <div class="col-xs-1 vcenter">
            {{ book.usefulness.up + book.usefulness.down + ' replies' }}
          </div>
          <div class="col-xs-3 vcenter">
            Did you find this textbook useful?
          </div>
          <div class="col-xs-2 vcenter">
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-thumbs-up"></span>
              </button>
              <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-thumbs-down"></span>
              </button>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <th>Author</th>
      <td>{{ book.author }}</td>
    </tr>
    <tr>
      <th>SKU</th>
      <td>{{ book.sku }}</td>
    </tr>
    <tr>
      <th>Price for new</th>
      <td>{{ book.new_price }}</td>
    </tr>
    <tr>
      <th>Price for used</th>
      <td>{{ book.used_price }}</td>
    </tr>
  </table>
  
</div>