{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>watbooks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.ico?v=3" />
    <base href="/">
    <!-- Polyfill(s) for older browsers -->
    <script src="/node_modules/core-js/client/shim.min.js"></script>
    
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>

    <script src="/systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){
          console.error(err);
      });
    </script>
  </head>

  <body>
    <my-app>
      <div class="jumbotron" style="padding-left: 60px; padding-top: 20px;">
        <h2>Loading...</h2>
      </div>
    </my-app>
  </body>
</html>
