/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.main-container {
  padding: 60px 15px 60px;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.table-no-border > tbody > tr:first-child > td, .table-no-border > tbody > tr:first-child > th {
  border: none;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.icon-extra-margin {
  margin-right: 2px;
}

.add-margin-right {
  padding-right: 20px;
}

/*
http://stackoverflow.com/questions/13771101/centering-a-button-vertically-in-table-cell-using-twitter-bootstrap
*/
.table.table-middle>tbody>tr>td, .table.table-middle>tbody>tr>th, .table.table-middle>tfoot>tr>td, .table.table-middle>tfoot>tr>th, .table.table-middle>thead>tr>td, .table.table-middle>thead>tr>th {
  vertical-align: middle;
}

/*
http://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3
*/
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
